/* CSS RESET */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cell spacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
	/* border: 1px solid red; */
}
/* General styles */
html{
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	color: #4f4f4f;
	font-family: 'Roboto Mono', monospace;
	/* background-color: #DDB9A3; */
}

h1 {
	font-family: 'Chelsea Market', cursive;
	font-size: 5rem;
}

a {
	font-family: 'Roboto Mono', monospace;
}
span {
	font-weight: bold;
}
section {
	padding: 4% 0;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #1c5d76;
  font-weight: bold;
  margin-right: 8px;
}

.nav-links a:last-of-type {
  margin-right: 0;
}

.nav-links a.active {
  border-bottom: 1px solid #1c5d76;
}

.store-header {
  color: #1c5d76;
}

.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.shop-button.md-button {
  margin-top: -16px;
  width: 135px;
  height: 30px;
}

.special {  
  padding: 2%;
  border-bottom: 1px solid black;
}

 .shadow {
  background-color:rgba(223, 221, 221, 0.8);
  padding: 1%;
}

.form-header{
  text-align: center; 
}

.form-group {  
  display:flex;  
  flex-flow: column nowrap;
  
}

.form-group .select  {  
  padding: 1%;
  display:flex;  
  flex-wrap: wrap;  
}

.form-group .checkbox  {  
  padding: 1%;
  display:flex;  
  flex-wrap: wrap;  
}

.form-group .radio  {
  padding: 1%;
  display:flex;  
  flex-wrap: wrap;  
}

.radio .label {
  width: 60%;
}

.checkbox .label {
  width: 45%;
}

.form-group .order  {  
  padding: 1%;
  display:flex;  
  flex-wrap: wrap;  
}

